.gallery {
    width: 80%;
    margin: auto;

    img{
        height: 20em;
        width: 20em;

        object-fit: cover;
        cursor: pointer;
    }
}

#lightbox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lightbox #image-content {
    max-width: 80%;
    height: 80%;
    object-fit: contain;
    background: rgba(0, 0, 0, .9);
    box-shadow: 1px;
}

#lightbox #image-next {
    width: 3em;
    background: none;
    margin-right: 1em;
}

#lightbox #image-prev {
    width: 3em;
    background: none;
    margin-left: 1em;
}